<h1>Listing localities in <%=@area.name%></h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @area.localities.each do |locality| %>
  <tr>
    <td><%= link_to locality.name, area_locality_path(@area, locality) %></td>
  </tr>
<% end %>
</table>

<br />

<%@locality ||= Locality.new(area: @area)%>
<%= form_for(@locality, url: area_localities_path(@area)) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>