<ul id="area_index">
  <% @areas.each do |area| %>
    <li><%= link_to area.name, "##{area.cached_slug}"%></li>
  <% end %>
</ul>
<% @areas.each do |area| %>
  <%= render :partial => 'wordpress_listing', :locals => {:area => area, :map => false} %>
<% end %>
