<section id="title_listing">
  <h1>Titles</h1>
  <%@titles.each do |title|%>
    <div class="machine_title">
      <h3><%=raw title.name%></h3>
      <ul>
        <%title.locations.each do |location|%>
          <li><%=link_to location.name, "/pinball-list/##{location.cached_slug}"%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
</section>
