

<p>
  <b>Title:</b>
  <%= @machine.title_id %>
</p>

<p>
  <b>Location:</b>
  <%= @machine.location_id %>
</p>


<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
