<h1>Editing location</h1>

<%= render 'form' %>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



<%= button_to 'Delete', @location, method: :delete, data: { confirm: "Are you sure you want to delete #{@location.name}?" } %>
