<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<title>Skill Shot | Seattle&#039;s Pinball Zine, Online</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.skill-shot.com/wp-content/themes/skill-shot-child/style.css" />
<link rel="pingback" href="http://www.skill-shot.com/xmlrpc.php" />
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="http://list.skill-shot.com/javascripts/jquery-1.11.0.min.js?1399697981" type="text/javascript"></script>
<script src="http://list.skill-shot.com/javascripts/jquery-ui-1.10.4.custom.min.js?1399697981" type="text/javascript"></script>
<script src="http://list.skill-shot.com/javascripts/jquery_ujs.js?1399697981" type="text/javascript"></script>
<script src="http://list.skill-shot.com/javascripts/application.js?1399697981" type="text/javascript"></script>
  <link href="http://list.skill-shot.com/stylesheets/scaffolds.css?1399697981" media="screen" rel="stylesheet" type="text/css" />
<link href="http://list.skill-shot.com/stylesheets/machines.css?1399697981" media="screen" rel="stylesheet" type="text/css" />
<link href="http://list.skill-shot.com/stylesheets/locations.css?1399697981" media="screen" rel="stylesheet" type="text/css" />
<link href="http://list.skill-shot.com/stylesheets/areas.css?1399697981" media="screen" rel="stylesheet" type="text/css" />
<link href="http://list.skill-shot.com/stylesheets/jquery-ui-1.10.4.custom.min.css?1399697981" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28510430-1']);
      _gaq.push(['_setDomainName', 'skill-shot.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

<link rel="alternate" type="application/rss+xml" title="Skill Shot &raquo; Feed" href="http://www.skill-shot.com/feed" />
<link rel="alternate" type="application/rss+xml" title="Skill Shot &raquo; Comments Feed" href="http://www.skill-shot.com/comments/feed" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.skill-shot.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.skill-shot.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.9.1" />

			<style type='text/css'>
				#wpadminbar .quicklinks li#wp-admin-bar-clickystats {
					height: 28px
				}

				#wpadminbar .quicklinks li#wp-admin-bar-clickystats a {
					height: 28px;
					padding: 0
				}

				#wpadminbar .quicklinks li#wp-admin-bar-clickystats a img {
					padding: 4px 5px;
					height: 20px;
					width: 99px;
				}
			</style>
		</head>

<body class="home blog  tribe-bar-is-disabled">
<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">
			<div id="branding" role="banner" onclick="location.href='http://www.skill-shot.com/';" style="cursor: pointer;">
								<h1 id="site-title">
					<span>
						<a href="http://www.skill-shot.com/" title="Skill Shot" rel="home">Skill Shot</a>
					</span>
				</h1>
				<div id="site-description">Seattle&#039;s Pinball Zine, Online</div>
<a href="http://www.skill-shot.com/" title="Skill Shot" rel="home">
<a href="http://www.skill-shot.com/" title="" rel="home">
			<img src="http://www.skill-shot.com/wp-content/uploads/2014/05/34_header_v1.jpg" width="940" height="198" alt="" />
	</a>
			</div><!-- #branding -->

			<div id="access" role="navigation">
			  				<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
								<div class="menu-header"><ul id="menu-v-1-0" class="menu"><li id="menu-item-198" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-198"><a href="http://www.skill-shot.com/content/category/seattle-pinball-news-gossip">News &#038; Gossip</a></li>
<li id="menu-item-317" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-317"><a href="http://www.skill-shot.com/content/category/feature">Features</a></li>
<li id="menu-item-2380" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2380"><a href="http://www.skill-shot.com/content/category/how-to-play">How To Play</a></li>
<li id="menu-item-2363" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2363"><a href="http://www.skill-shot.com/events/month/">Calendar</a></li>
<li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a href="http://www.skill-shot.com/archive">Back Issues</a></li>
<li id="menu-item-754" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-754"><a href="http://www.skill-shot.com/the-one-to-beat">The One To Beat</a></li>
<li id="menu-item-199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-199"><a href="http://www.skill-shot.com/links">Links</a></li>
<li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="http://www.skill-shot.com/about">Contact</a></li>
<li id="menu-item-1899" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1899"><a title="List of Pinball Machines on location in Seattle" href="http://list.skill-shot.com">Pinball List</a></li>
</ul></div>			</div><!-- #access -->
		</div><!-- #masthead -->
	</div><!-- #header -->

	<div id="main">


