<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title>Skill Shot | Seattle&#039;s Pinball Zine, Online</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3yh3NiCTfDrlwStpSYLejEO8q42O4rRQ"></script>
  <%= javascript_include_tag "jquery-1.11.0.min.js", "jquery-ui-1.10.4.custom.min.js", "jquery_ujs", "application" %>
  <%= stylesheet_link_tag %W{style scaffolds machines locations areas jquery-ui-1.10.4.custom.min.css} %>
</head>

<body class="home blog  tribe-bar-is-disabled">
  <div id="wrapper" class="hfeed">
    <div id="header">
      <div id="masthead">
        <div id="branding" role="banner" onclick="location.href='http://www.skill-shot.com/';" style="cursor: pointer;">
          <h1 id="site-title">
            <span>
              <a href="http://www.skill-shot.com/" title="Skill Shot" rel="home">Skill Shot</a>
            </span>
          </h1>
          <div id="site-description">Seattle&#039;s Pinball Zine, Online</div>
        </div><!-- #branding -->

        <div id="access" role="navigation">
          <div class="menu-header">
            <ul id="menu-v-1-0" class="menu"></ul>
          </div>     
        </div><!-- #access -->
      </div><!-- #masthead -->
    </div><!-- #header -->

    <div id="main">


