<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<title>Skill Shot | Seattle&#039;s Pinball Zine, Online</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.skill-shot.com/wp-content/themes/skill-shot-child/style.css" />
<link rel="pingback" href="http://www.skill-shot.com/xmlrpc.php" />
<link rel="alternate" type="application/rss+xml" title="Skill Shot &raquo; Feed" href="http://www.skill-shot.com/feed" />
<link rel="alternate" type="application/rss+xml" title="Skill Shot &raquo; Comments Feed" href="http://www.skill-shot.com/comments/feed" />
<link rel='stylesheet' id='nextgen_gallery_related_images-css'  href='http://www.skill-shot.com/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/nextgen_gallery_display/static/nextgen_gallery_related_images.css?ver=3.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack-subscriptions-css'  href='http://www.skill-shot.com/wp-content/plugins/jetpack/modules/subscriptions/subscriptions.css?ver=3.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack-widgets-css'  href='http://www.skill-shot.com/wp-content/plugins/jetpack/modules/widgets/widgets.css?ver=20121003' type='text/css' media='all' />
<script type='text/javascript' src='http://www.skill-shot.com/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://www.skill-shot.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var photocrati_ajax = {"url":"http:\/\/www.skill-shot.com\/photocrati_ajax","wp_site_url":"http:\/\/www.skill-shot.com","wp_site_static_url":"http:\/\/www.skill-shot.com"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.skill-shot.com/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/ajax/static/ajax.js?ver=3.8.1'></script>
<script type='text/javascript' src='http://www.skill-shot.com/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/lightbox/static/lightbox_context.js?ver=3.8.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.skill-shot.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.skill-shot.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.8.1" />
<link rel='shortlink' href='http://wp.me/1MU3R' />

		<style type='text/css'>
			#wpadminbar .quicklinks li#wp-admin-bar-clickystats {
				height: 28px
			}

			#wpadminbar .quicklinks li#wp-admin-bar-clickystats a {
				height: 28px;
				padding: 0
			}

			#wpadminbar .quicklinks li#wp-admin-bar-clickystats a img {
				padding: 4px 5px;
				height: 20px;
				width: 99px;
			}
		</style>
		<!-- <meta name="NextGEN" version="2.0.40" /> -->
  <link href="http://list.skill-shot.com/stylesheets/scaffolds.css?1393354709" media="screen" rel="stylesheet" type="text/css" />
<link href="http://list.skill-shot.com/stylesheets/machines.css?1393354709" media="screen" rel="stylesheet" type="text/css" />
<link href="http://list.skill-shot.com/stylesheets/locations.css?1393354709" media="screen" rel="stylesheet" type="text/css" />
<link href="http://list.skill-shot.com/stylesheets/areas.css?1393354709" media="screen" rel="stylesheet" type="text/css" />
<link href="http://list.skill-shot.com/stylesheets/jquery-ui-1.8.16.custom.css?1393354709" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type='text/javascript' src='http://www.skill-shot.com/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://www.skill-shot.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
  <script src="http://list.skill-shot.com/javascripts/jquery-ui-1.8.16.custom.min.js?1393354709" type="text/javascript"></script>
<script src="http://list.skill-shot.com/javascripts/jquery-ujs.js?1393354709" type="text/javascript"></script>
<script src="http://list.skill-shot.com/javascripts/application.js?1393354709" type="text/javascript"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28510430-1']);
      _gaq.push(['_setDomainName', 'skill-shot.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

<style type="text/css">
.sharepost{clear:both;width:100%;overflow:hidden;margin:0;padding:0;}
.sharepost *{display:inline-block;vertical-align:top !important;}
.sharepost li{display:inline-block;max-height:23px;min-height:20px;min-width:30px;max-width:200px;vertical-align:top;overflow:hidden;padding:5px;margin:0 20px 0 0;list-style-type:none;}
.sharepost iframe,.sharepost object{overflow:hidden;}
.sharepost a{color:transparent;}
.sharepost .spdelicious a.delicious-button{color:#333;}
.sharepost .splike iframe,.sharepost .splike object{border:none;overflow:hidden;width:80px;height:25px;background:transparent url(http://www.skill-shot.com/wp-content/plugins/share-post/like.png) no-repeat 48px 0;}
.sharepost .splink iframe,.sharepost .splink object{border:none;overflow:hidden;width:80px;height:20px;}
.sharepost .spreddit iframe,.sharepost .spreddit object{width:120px;height:22px;}
.sharepost .spretweet{width:91px;}
.sharepost .spretweet iframe,.sharepost .spretweet object{width:110px;height:22px;}
.sharepost .spstumble iframe,.sharepost .spstumble object{border:none;overflow:hidden;width:74px;height:18px;}
.sharepost .spshare .fb_share_count_nub_right{background:transparent url(http://www.skill-shot.com/wp-content/plugins/share-post/share.png) no-repeat right 5px !important;}
.sharepost .sptweet iframe,.sharepost .sptweet object{width:120px;height:22px;}
.sharepost .sptweet{width:91px;}
.sharepost .spybuzz a{max-width:140px;}
.sharepost li{margin-right:20px;
margin-top:0px;}
#sharepost {margin:0px;}
</style>
<!-- Jetpack Open Graph Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Skill Shot" />
<meta property="og:description" content="Seattle&#039;s Pinball Zine, Online" />
<meta property="og:url" content="http://www.skill-shot.com/" />
<meta property="og:site_name" content="Skill Shot" />
<meta property="og:image" content="http://wordpress.com/i/blank.jpg" />
<meta name="twitter:site" content="@jetpack" />
		<link rel="stylesheet" id="custom-css-css" type="text/css" href="http://www.skill-shot.com/?custom-css=1&#038;csblog=1&#038;cscache=6&#038;csrev=7" />
		</head>

<body class="home blog  tribe-bar-is-disabled">
<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">
			<div id="branding" role="banner" onclick="location.href='http://www.skill-shot.com/';" style="cursor: pointer;">
								<h1 id="site-title">
					<span>
						<a href="http://www.skill-shot.com/" title="Skill Shot" rel="home">Skill Shot</a>
					</span>
				</h1>
				<div id="site-description">Seattle&#039;s Pinball Zine, Online</div>
<a href="http://www.skill-shot.com/" title="Skill Shot" rel="home">
<a href="http://www.skill-shot.com/" title="" rel="home">
			<img src="http://www.skill-shot.com/wp-content/uploads/2014/02/cropped-32_header_v1.jpg" width="940" height="198" alt="" />
	</a>
			</div><!-- #branding -->

			<div id="access" role="navigation">
			  				<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
								<div class="menu-header"><ul id="menu-v-1-0" class="menu"><li id="menu-item-198" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-198"><a href="http://www.skill-shot.com/content/category/seattle-pinball-news-gossip">News &#038; Gossip</a></li>
<li id="menu-item-317" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-317"><a href="http://www.skill-shot.com/content/category/feature">Features</a></li>
<li id="menu-item-2380" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2380"><a href="http://www.skill-shot.com/content/category/how-to-play">How To Play</a></li>
<li id="menu-item-2363" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2363"><a href="http://www.skill-shot.com/events/month/">Calendar</a></li>
<li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a href="http://www.skill-shot.com/archive">Back Issues</a></li>
<li id="menu-item-754" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-754"><a href="http://www.skill-shot.com/the-one-to-beat">The One To Beat</a></li>
<li id="menu-item-199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-199"><a href="http://www.skill-shot.com/links">Links</a></li>
<li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="http://www.skill-shot.com/about">Contact</a></li>
<li id="menu-item-1899" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1899"><a title="List of Pinball Machines on location in Seattle" href="http://list.skill-shot.com">Pinball List</a></li>
</ul></div>			</div><!-- #access -->
		</div><!-- #masthead -->
	</div><!-- #header -->

	<div id="main">


